In [2]:
import pandas as pd
import numpy as np

In [3]:
#Leyendo los datos de la GEIH
df_emicron = pd.read_csv('https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv',encoding='latin',sep=',')

In [4]:
df_emicron

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78496,8038070,1,3,13,NaN,1,1,24,DICIEMBRE,2,NaN,NaN,NaN,2,48,1,2,4,7,362.509123
78497,8038071,1,1,13,NaN,2,1,30,DICIEMBRE,2,NaN,NaN,NaN,2,48,2,2,1,1,158.805116
78498,8038073,1,1,13,NaN,2,1,66,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,57.451130
78499,8038074,1,3,13,NaN,2,1,71,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,93.355386
78500,8038075,1,1,13,NaN,2,1,64,DICIEMBRE,2,NaN,NaN,NaN,2,480,2,2,1,1,98.197081

In [5]:
#preguntas del parcial
# 1 cuantos micro negocios hay en el quindio cuyos propietarios son hombres entre los 18 y los 30 aÃ±os
# 2 cuantos micro negocios de la industria manufacturera existen en el depto de risaralda cuyas propietarias son mujeres entre los 20 y los 30 aÃ±os
# 3 entre las ciudades de manizales, pereira y armenia Â¿cual de las tres ciudades tiene mas micronegocios del sector comercio, cuyas propietarias son mujeres mayores a 40 aÃ±os?
# 4 en la ciudad de Armenia Â¿ cuantos micro negocios hay cuyos propietarios son hombres que no tienen nombre comercial?
# se entrega el miercoles a la 1 pm

In [6]:
#determinar la cantidad de micronegocios en colombia
total=df_emicron["F_EXP"].sum()
print("cantidad de micronegocios en colombia:", int(total))

cantidad de micronegocios en colombia: 5297251

In [7]:
#Buscar si estan las variables que necesitamos
df_emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

In [8]:
#1. Micro negocios en QuindÃ­o, propietarios hombres entre 18 y 30 aÃ±os
q1 = df_emicron[
    (df_emicron['COD_DEPTO'] == 63) &  # QuindÃ­o
    (df_emicron['P35'] == 1) &         # Hombres
    (df_emicron['P241'].between(18, 30))
]
total_quindio_hombres_18_30 = q1["F_EXP"].sum()

print("Cantidad de micronegocios en el departamento del QuindÃ­o de hombres entre 18 y 30 aÃ±os es :", round(total_quindio_hombres_18_30))

Cantidad de micronegocios en el departamento del QuindÃ­o de hombres entre 18 y 30 aÃ±os es : 1929

In [9]:
#2. Manufactura en Risaralda, mujeres 20â€“30 aÃ±os
q2= df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & (df_emicron["GRUPOS4"] == 2)]

In [11]:
#Calcular micronegocios expandidos
total_micronegocios_Manufacturera_RM = q2["F_EXP"].sum()
print(f"El total de micronegocios de la industria manufacturera en el departamento de Risaralda, cuyas propietarias son mujeres entre los 20 y los 30 aÃ±os es: {q2['F_EXP'].sum():.0f}")

El total de micronegocios de la industria manufacturera en el departamento de Risaralda, cuyas propietarias son mujeres entre los 20 y los 30 aÃ±os es: 471

In [ ]:
#3. Entre Manizales, Pereira y Armenia â†’ sector comercio, mujeres >40

In [ ]:
#ARMENIA 
q3 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_A40 = q3["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Armenia, cuyas propietarias son mujeres mayores a 40 aÃ±os es: {q3['F_EXP'].sum():.0f}")

El total de micronegocios del sector comercio en la ciudad de Armenia, cuyas propietarias son mujeres mayores a 40 aÃ±os es: 2558

In [ ]:
#PEREIRA
q3 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_P40 = q3["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Pereira, cuyas propietarias son mujeres mayores a 40 aÃ±os es: {q3['F_EXP'].sum():.0f}")

El total de micronegocios del sector comercio en la ciudad de Pereira, cuyas propietarias son mujeres mayores a 40 aÃ±os es: 3827

In [ ]:
#MANIZALES
q3 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron["GRUPOS4"] == 3)]
total_micronegocios_comercio_M40 = q3["F_EXP"].sum()
print(f"El total de micronegocios del sector comercio en la ciudad de Manizales, cuyas propietarias son mujeres mayores a 40 aÃ±os es: {q3['F_EXP'].sum():.0f}")

El total de micronegocios del sector comercio en la ciudad de Manizales, cuyas propietarias son mujeres mayores a 40 aÃ±os es: 2637

In [ ]:
#la ciudad que cuenta con mas micronegocios cuyas propietarias son mujeres de mas de 40 aÃ±os de edad es la ciudad de Pereira

In [ ]:
#4. En Armenia (QuindÃ­o), hombres sin nombre comercial
q4 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_micronegocios_AXM_snc = q4["F_EXP"].sum()
print(f"El total de micronegocios en la ciudad de Armenia, cuyos propietarios son hombres que no tienen nombre comercial es: {q4['F_EXP'].sum():.0f}")

El total de micronegocios en la ciudad de Armenia, cuyos propietarios son hombres que no tienen nombre comercial es: 11603